<div class="chat-view">
    <div class="center-block">
        <div class="account-row flex-row">
            <div class="flex-row">
                <div class="avatar">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="user-name">
                    {{ userData.name }}
                </div>
            </div>
            <div class="log-out flex-row" (click)="logOut()">
                Exit
                <mat-icon>exit_to_app</mat-icon>
            </div>
        </div>
        <div class="chats flex-row">
            <app-chats-list
                (clickOnChat)="clickToChat($event)"
            ></app-chats-list>
            <app-chat
                [sender]="userData"
                [chatKey]="activeChatKey"
            ></app-chat>
        </div>
    </div>
</div>