<div class="choose"
    *ngIf="chatKey.length === 0">
    Selected chat
    <mat-icon>sentiment_satisfied_alt</mat-icon>
</div>
<div class="chat"
    *ngIf="chatKey.length !== 0">
    <div class="messages"
        id="messages">
        <div class="message"
            [ngClass]="message.sender.email == sender.email ? 'owner' : 'other'"
            *ngFor="let message of chat">
            <div [ngClass]="message.sender.email == 'system' ? 'system' : 'user'">
                <div class="name" 
                    *ngIf="message.sender.email != sender.email && message.sender.email != 'system'">
                    {{ message.sender.name }}
                    <mat-divider></mat-divider>
                </div>
                {{ message.text }}
                <mat-divider></mat-divider>
                <div class="time">
                    {{ message.time }}
                </div>
            </div>
        </div>
    </div>
    <form class="newMessage"
        [formGroup]="newMessageForm"
        (ngSubmit)="onSubmit(newMessageForm.value)">
        <mat-form-field appearance="outline">
            <mat-label>Your message</mat-label>
            <input matInput placeholder="Your message"
                type="text" 
                [formControl]="newMessageForm.controls['text']">
        </mat-form-field>
        <button mat-raised-button color="primary"
            type="submit" 
            [disabled]="newMessageForm.invalid">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>
