.choose {
    width: 728px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    mat-icon {
        margin-left: 8px;
    }
}
.chat {
    width: 728px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .messages {
        width: 680px;
        max-height: 600px;
        margin: 0px auto;
        flex: 1 0;
        .message {
            width: auto;
            .system {
                text-align: center;
                text-decoration: underline;
            }
            .user {
                padding: 8px 16px;
                max-width: 320px;
                border-radius: 8px;
                border: 1px solid #000;
            }
        }
        .owner {
            display: flex;
            justify-content: flex-end;
        }
        .other {
            display: flex;
            justify-content: flex-start;
        }
    }
    .newMessage {
        flex: 0 0;
        width: 680px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0px auto;
        mat-form-field {
            width: 80%
        }
    }
}

